.back_icon {
  width: 15px;
}

.header {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 50px;
  &_text {
    font-size: 40px;
    font-weight: bold;
  }
}

.main {
  margin-left: 200px;
  margin-right: 200px;
  padding-top: 70px;
}
